

.chat_container{
    width: 75%;
    height: 85vh;
    display: flex;
    flex-direction: row;
    /* gap: 1rem; */
    margin-top: 25px;
}

.chatbox_left{
    width: 45%;
    height: 100%;
    overflow-y: auto;
    border: 2px solid black;
}

.chatbox_right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 55%;
    border: 1px solid black;
}


.chat_input{
    font-size: 24px;
    height: 75px;
    width: 100%;
    background: rgb(248, 248, 248);
}

.chat_profile{
    display: flex;
    height: 100px;
    width: 100%;
    align-items: center;
    border: 1px solid black;
}

.chat_profile:hover{
    background: rgb(235, 235, 235);
    cursor: pointer;
}

.chat_img{
    height: 100%;
    width: 80px;
    padding: 10px;
}

.chat_profile_img{
    height: 100%;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    font-size: 3rem;
}

.chat_profile_details{
    height: 100%;
    width: 100%;
    padding: 10px;
}

.chatbox_msg_options{
    display: flex;
    justify-content: flex-end;
}

.chatbox_msg_options > button{
    background: blue;
    color: white;
    padding: 10px 20px;
    font-size: 21px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}