
.signin_container{
    padding: 15px 0px;
}


.signin_logo{
    display: flex;
}

.signin_linkedin_icon{
    font-size: 27px;
    margin-right: 3px;
    color: rgb(50, 95, 192);
    cursor: pointer;
}

.signin_linkedin__icon{
    color: rgb(50, 95, 192);
    font-size: 32px;
}

.signin_form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 26px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.signin_form>form>h2{
    font-size: 32px;
}

.tagline{
    font-size: 13px;
    color: rgb(160, 160, 160);
    margin-bottom: 20px;
}

.signin_form>form>input{
   
    font-size: 21px;
    padding: 1.5rem 0.3rem;
    width: 300px;
}

.signin_btn{
    display: block;
    /* padding: 20px; */
    width: 100%;
    padding: 20px 0px;
    margin: 0 auto;
    font-size: 20px;
    color: white;
    background: rgb(50, 95, 192);
    border-radius: 32px;
    border: none;
    cursor: pointer;
}

.forgot_password{
    color: rgb(50, 95, 192);
    margin-bottom: 20px;
}