.register-form__container{
    position: absolute;
    left: 0;
    right: 0;
    height: 100vh;
    background-color: rgb(228, 228, 228);
}

.register-form__container>h1{
    margin-top: 100px;
    display: block;
    text-align: center;
}

.register-form{
    width: 450px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 24px;
}

label{
    margin-top: 1rem;
}

.register-form>input{
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.32rem;
  border-radius: 0.5rem;    
  width: 100%;
  margin-bottom: 15px;
}

.register-form>p{
    text-align: center;
    font-size: 0.8rem;
    margin: 20px 0px;
}

.register-form>button{
    width: 100%;
    padding: 15px 0px;
    background-color: rgb(37, 117, 192);
    border: none;
    font-size: 21px;
    color: white;
    border-radius: 22px;
    cursor: pointer;
}
