
.profile_container{
    background-color: pink;
    width: 70%;
    padding: 15px;
}

.top{
    background-color: gray;
    height: 200px;
}

.profile_details{
    display: flex;
    justify-content: space-between;
    /* padding: 40px 20px; */
}

.profile_name{
    font-weight: bold;
    font-size: 21px;
}

.address{
    padding: 5px 0px;
    font-size: 14px;
}

.profile_work{
    display: flex;
    gap: 1.5rem;
    margin-top: 10px;
}

.open{
    padding: 12px;
}

.add_profile{
    padding: 12px;
}

.more{
    padding: 12px;
}

.pencil{
    font-size: 21px;
    background: none;
    border: none;
    cursor: pointer;
}


/* profile image css */

.profile_img{
    background: rgb(202, 16, 16);
    width: 170px;
    height: 170px;
    border-radius: 50%;
    margin-top: -100px;
}

.profile_img_div{
    padding: 10px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}


/* profile image popup */

.profile_img_popup{
    background: green;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
    width: 500px;
    height: 300px;
    padding: 20px;

}

.profile_img_popup_top{
    display: flex;
    justify-content: space-between;
}

.popup_image{
    padding: 20px;
    display: block;
    margin: 0 auto;
    max-width: 200px;
    max-height: 200px;
}

.popup_cancel{
    font-size: 21px;
    cursor: pointer;
}

.profile_img_popup_bottom{
    width: 100%;
}

.add_photo{
    float: left;
    text-align: center;
    cursor: pointer;
}



